.topNovel{
   flex: 5;
}
.item-container{
   
   /* border: 1px solid red !important; */
   min-height: 150px;
}
.thisItem{
   padding: 4px 8px;
   cursor:pointer;
   background-color: rgb(115, 114, 114);
   margin-right: 10px;
   border-radius: 5px;
   color: rgb(9, 9, 9);
   font-weight: 500;
}
 .thisItem:active{
   background-color: rgb(9, 9, 9);
   color: rgb(176, 173, 173);
   
 }

 .thisInput{
    outline: none !important;
    background-color: rgb(115, 114, 114) !important;
    color: rgb(9, 9, 9);
 }
 .thisInput::placeholder{
    color:rgb(9, 9, 9);
 }

 .thisInput:focus{
    border-color: none !important;
    outline: none !important;
    box-shadow: none;
 }
.image-container{
   position: relative;
}
 .item-image{
    max-width: 100px;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
 }

 .item-status{
    position: absolute !important;
    top:0px;
    left: 0px;
    /* z-index: 999; */
    color: white;
    font-size: 10px;
    background-color: rgb(117, 116, 116,.5);
    padding: 1px 3px;
    border-radius: 10px 0 0 0;

 }
 .item-title{
    font-weight: 600;
    font-size: 17px;
    /* margin-bottom: 5px; */
 }
 .item-genre{
    /* border:1px solid gray; */
    display:inline;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 3px;
    color: white;
    background: rgb(50, 50, 50);
    font-size: 15px;
 }
 
 .item-description {
   height: 70px;
   /* border: 1px solid red !important; */
   margin-bottom: 5px;
 }
 .item-description p{
   display: -webkit-box;
   -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
 }