.sidebar{
   flex:1;   
   height: calc(100vh - 50px);
   background-color: rgb(211, 211, 247);
   position: sticky;
   top: 5rem;
}
.sidebarWrapper{
   padding: 1rem;
   color: rgb(31, 30, 30);
}
.sidebarWrapper a{
   list-style-type: none;
   text-decoration: none; 
   color: inherit;
}
.sidebarMenu{
   margin-bottom: 10px;
}

.sidebarTitle{
   font-size: 1.4rem;
   color: rgb(75, 75, 75) ;
}

.sidebarList{
   list-style-type: none;
   padding: 0rem;
}

.sidebarListItem{
   padding: .3rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   border-radius: 10px;
   font-size: 18px;
}

.sidebarListItem.active,.sidebarListItem:hover{
   background-color: rgb(193, 193, 227) !important;
}
.active-link{
   background-color: rgb(193, 193, 227) !important;
}

.sidebarIcon{
   margin-right: 0px;
   font-size: 4rem !important;
}