.createUser{
   flex:5;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}

.createUserWrapper{
   width: 50%;
   display: flex;
   flex-direction: column;   
}

.createUserHeader{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.createUserCancel{
   display: block;
   background: rgb(133, 30, 30);
   padding: 8px 16px;
   color: rgb(223, 223, 223);
   border-radius: 10px;
   cursor: pointer;
   font-size: 16px;
}

.createUserForm{
   width: 60%;
   /* margin-right:30px ; */
}
.createUserForm .form-control{
   font-size: 18px !important;
}
.createUserLabel,.createUserForm .form-check-label,.createUserForm .btn  {
   font-size: 18px !important;
}



