
.login{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
}
.loginWrapper{
   margin-top: 15vh;
   display: flex;
   
}

.loginForm{
   background-color: rgb(28, 11, 95);
   border: 1px solid rgb(99, 99, 235);
   border-radius: 1rem;
   padding: 2rem;
}

.loginFormForm{
   display: flex;
   flex-direction: column;
}

.loginLabel{
   font-size: 1.7rem;
   font-weight: 500;
   color: #fff !important;
}

.loginInput{
   width: 30rem;
   font-size: 1.7rem;
   padding: 1rem;   
   border-radius: 10px;
   border: 1px solid white !important;
   margin-bottom: 3rem;
   
}
.loginButton{
   font-size: 2rem;
   background-color: rgb(40, 18, 128);
   color: white !important;
   margin: 0 auto;
   width:15rem;
   height: 5.5rem;
   border-radius: 10px;
   border: 1px solid white;
}

/*!!!!!---ADMIN LAYOUT STYLING---!!!!!!*/
.adminLayout{
   display: flex;
}

.outletLayout{
   flex:6;
   margin: 0;
   padding: 0px;
}