.home{
   flex:5;
   display: flex;
   flex-direction: column;
   
}
.homeWrapper{
   padding: 20px 0;
   width:100%;
   /* border:1px solid red; */
   display: flex;
   justify-content: space-around;
}
.homeCounter{
   /* border: 1px solid red; */
   display: flex;
   width:80%;
   /* height: 100px; */
   justify-content: space-around;
}
.homeCounterItem{
   box-shadow: 1px 1px 4px 1px gray;
   display: flex;
   flex-direction: column;
   padding: 20px;
   border-radius: 10px;
   cursor: pointer;
}
.homeCounterItem h3{
   font-size: 25px;
   color: rgb(103, 102, 102);
}
.totalCount{
   display: block;
   text-align: center;
   font-size: 22px;
   font-weight: 500;
}