* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#footer {
  background: rgb(33, 37, 41);
  margin-top: auto;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.line-clamp-none {
  -webkit-line-clamp: unset;
}
/*---------------------------------------navbar css starts
                        ----------------------------------------------------------*/
.navbar-bg {
  background-color: var(--bgcolor);
  padding: 2rem 0;
  z-index: 99;
  position: relative;
}

.navbar-brand {
  font-size: 2.5rem;
}

.navbar li {
  padding: 0 2rem;
}
.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.navbar li a:hover {
  color: var(--primary-color) !important;
}

.btn-style {
  width: 12rem;
  color: #fff;
  height: 4rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
}

.btn-style:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

/*---------------------------------------navbar css ends
                        ----------------------------------------------------------*/

/*---------------------------------------home first row css starts
                        ----------------------------------------------------------*/
.carousel-caption h5,
.carousel-caption p {
  color: white !important;
}
.carousel-caption h5 {
  font-size: 2rem;
}
.carousel-caption p {
  font-size: 1.6rem;
}

.announcement-row {
  height: 49%;
  background: "#f3f3f3";
  text-align: center;
  line-height: 10rem;
  /* border: 0.1rem solid blue; */
  border-radius: 1rem !important;
  background-color: gray;
  box-shadow: inset;
  font-size: 3rem;
  font-weight: lighter;
}

/*---------------------------------------home first row ends starts
                        ----------------------------------------------------------*/

/*---------------------------------------home second row css starts
                        ----------------------------------------------------------*/
.home-second-row {
  margin-top: 5rem;
}
.second-row-releases {
  /* border: 0.5rem solid crimson; */
  /* height: 60rem; */
  /* height: 100%; */
  padding: 3rem;
  background-color: rgb(82, 80, 80);
  border-radius: 2rem;
}
.second-row-releases-item:first-child {
  background: gray;

  border-radius: 2rem !important;
}
.second-row-releases-item:nth-child(2) {
  padding: 3rem;
  /* border: 1px solid teal; */
}
.second-row-releases-item {
  /* background: gray; */
  color: white;
  /* border: 1px solid blue; */
  padding: 1.5rem;
}
.releases-part-one {
  overflow: hidden;
  padding: 1rem;
}
.releases-image {
  width: inherit;
  height: inherit;
  border-radius: 1rem;
  object-fit: cover;
}
.releases-description {
  width: 70%;
  margin: 2rem auto 0;
  text-align: center;
}
.releases-description h5 {
  font-size: 2.2rem;
}
.releases-description p {
  font-size: 1.5rem;
}
.releases-part-two h5 {
  color: white;
  font-size: 1.5rem;
  padding-top: 0.6rem;
}
.releases-part-two {
  /*--- ongoing releases 2nd part --- */
  /* border: 1px solid pink; */
  /* background-color: gray; */
  padding: 0.5rem 0.5rem;
  text-align: center;
  overflow: hidden;
}
.releases-part-two .releases-image-small {
  /*---ongoing releases 2nd part images x8 ---*/
  width: 13rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}

.weekly-popular {
  /* border: 1px solid pink; */
  padding: 0.5rem 0;
}

.weekly-popular img {
  width: 16rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
}

.footer-wrapper {
  /* border: 1px solid red; */
  height: 30vh;
  align-items: center;
}

.footer-wrapper .list-group-item {
  color: #fff;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
}

/*---------- ----------------novel.js CSS--------------------------------*/
.series-container {
  padding: 2rem 0;
}

.series {
  /* border: 1px solid red; */
  padding: 1rem;
}

.language-group-title,
.status-group-title,
.sort-group-title,
.genre-group-title {
  font-size: 1.8rem;
}

.group-item label {
  padding-right: 1rem;
}

.group-item span {
  border-radius: 1rem;
  cursor: pointer;
}
.item {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: #000;
}
.series-active {
  color: #127afe;
  background-color: rgb(49, 49, 49);
  font-weight: bold;
}
.input-genre {
  width: 100%;
  min-height: 2rem;
  /* line-height: 5rem; */
  padding: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: 2px solid black;
  border-radius: 0.5rem;
}

/*-----------------------SERIES-PAGE: second row ----------------------*/
.series-search-wrapper {
  margin-top: 2rem;
}
.series-search-item {
  /* border: 1px solid red; */
  padding: 1rem;
}
.series-search-image {
  height: 18rem;
  width: 12rem;
  overflow: hidden;
}
.series-search-item img {
  /* border:1px solid red; */
  width: 12rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
}
.series-search-textbox {
  font-size: 1.8rem;
  padding: 0 1rem;
}
.series-search-title {
  font-weight: bold;
  text-transform: capitalize;
}
.series-search-description {
  height: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.series-search-tags a {
  /* border: 1px solid red; */
  border-radius: 0.5rem;
  color: #a3a1a1;
  background-color: #333333;
  text-transform: capitalize;
  margin-right: 0.5rem;
}
