@media (min-width: 768px) {
  html {
    font-size: 50% !important;
  }

  .list-novel-heading > th {
    font-size: 11px;
  }
  .list-novel-item-title {
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
  }
  .list-novel-item > td {
    font-size: 10px !important;
  }
  .list-novel-icon {
    font-size: 18px !important;
  }
}
.ezz {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: 2;
}
@media (min-width: 1400px) {
  .list-novel-item {
    overflow: hidden;
  }
  .list-novel-table {
    overflow: hidden;
  }
  .list-novel-item-title {
    /* overflow: hidden;
    display: block; */
  }
  .list-novel-heading > th {
    font-size: 18px;
  }
  .list-novel-item > td {
    font-size: 18px !important;
  }
  .list-novel-icon {
    font-size: 28px !important;
  }
}
